html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#eee;
}
.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

.thumbnail {
    border: 3px solid #808080;
    background-color: #ffffff;
    padding: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {
    background-color: #0094ff;
}